@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

/* CSS Document*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,main {margin: 0;padding: 0;border: 0;font-size: 100%;list-style: none;}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,time,main {display: block;}blockquote,q {quotes: none;}blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}table {vertical-align: middle;}
/*-----------------------start-------------------------*/

body {
    font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei", "新細明體";
    background: #fff;
    font-size: 1em;
    line-height: 24px;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    /*overflow-x: hidden;*/
    outline: none;
}
img {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
}
a {
    color: #eb503c;
    text-decoration: none;
    transition: ease 0.3s;
    outline: none;
}
a:hover {
    color: #ec8e26;
    text-decoration: none;
}
::selection {
    background-color: #eb503c;
    color: #fff;
}
::-moz-selection {
    background-color: #eb503c;
    color: #fff;
}
h1 {
    font-size: 1.5em;
    line-height: 26px;
    padding: 10px 0px 5px 0px;
    letter-spacing: 1px;
}
h2 {
    font-size: 1.3em;
    line-height: 24px;
    padding: 10px 0px 5px 0px;
    letter-spacing: 1px;
}
h3 {
    font-size: 1.1em;
    padding: 10px 0px 5px 0px;
    letter-spacing: 1px;
}
h4 {
    font-size: 1em;
    padding: 10px 0px 5px 0px;
    letter-spacing: 1px;
}
p {
    padding: 5px 0px 5px 0px;
}
tr,
th,
td {
    padding: 5px 10px;
    text-align: left;
}
ul,
ol {
    margin-left: 20px;
    padding-top: 10px;
}
ul li {
    list-style: disc;
    padding: 0px 0px 8px 0px;
}
ol li {
    list-style: decimal;
    padding: 0px 0px 8px 0px;
}
form {
    position: relative;
    padding-top: 20px;
}
.clear {
    clear: both;
    height: 0;
}
i {
    vertical-align: middle;
    padding: 0 5px;
}
sub,
sup {
    font-size: 12px;
}

/*----------表單樣式----------*/

input,
textarea,
select {
    font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei", "新細明體";
    background-color: #f5f5f5;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: ease 0.3s;
    outline: none;
    /*appearance: none;-moz-appearance: none;-webkit-appearance: none;*/
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 15px 10px;
    margin: 0 0 5px 0;
}
input[type="number"] {
    width: 100%;
    padding: 15px 10px;
    margin: 0 0 3px 10px;
    line-height: 36px;
}
textarea {
    width: 100%;
    padding: 15px 10px;
    margin: 0 0 5px 0;
    line-height: 24px;
}
input[type="submit"],
input[type="reset"] {
    border: none;
    background: #eb503c;
    border-radius: 20px;
    color: #FFF;
    outline: none;
    padding: 10px 10px;
    width: auto;
    min-width: 150px;
    margin: 5px 2px;
    cursor: pointer;
    box-sizing: border-box;
    transition: ease 0.3s;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #ec8e26;
}
select {
    width: 100%;
    padding: 13px 10px 15px 10px;
    margin: 0 0 5px 0;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    background-color: #eee;
}
input[type="checkbox"],
input[type="radio"] {
    position: relative;
    margin-right: 10px;
    transform: scale(1.3, 1.3);
}

/*----------字體樣式/背景顏色----------*/
.wRed{
    color: #eb503c;
}

/*----------共用----------*/

header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 3%;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    z-index: 999;
}
header:after {
    display: block;
    content: "";
    clear: both;
}
.menuBtn {
    position: relative;
    width: 40px;
    float: left;
    padding-top: 25px;
    cursor: pointer;
}
.menuBtn i {
    font-size: 2em;
    color: #eb503c;
}
.storeBtn {
    position: relative;
    width: 100px;
    float: left;
    cursor: pointer;
    padding: 23px 0 0 25px;
}
.storeBtn a {
    display: block;
    border: #eb503c solid 1px;
    border-radius: 5px;
    color: #eb503c;
    text-align: center;
    padding: 5px 0;
}
.storeBtn a:hover {
    background-color: #eb503c;
    color: #fff;
}
.logo {
    position: absolute;
    width: 200px;
    left: 50%;
    top: 25px;
    margin-left: -100px;
    box-sizing: border-box;
}
.logo img {
    display: block;
    width: 100%;
    height: auto;
}
.account {
    position: relative;
    width: auto;
    float: right;
    padding-top: 30px;
}
.account>ul {
    position: relative;
    display: block;
    padding: 0px 20px 0 0;
    margin: 0;
    text-align: left;
}
.account>ul>li {
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    transition: ease 0.3s;
}
.account>ul>li>a {
    color: #000;
    padding: 0 25px 0px 0px;
    display: block;
    box-sizing: border-box;
}
.account>ul>li>a:hover {
    color: #eb503c;
}
.rightBtn {
    position: relative;
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 10px;
    padding-top: 20px;
}
.rightBtn a {
    display: block;
    border: #eb503c solid 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
}
.rightBtn a:hover {
    background-color: #eb503c;
    color: #fff;
}
.rightBtn a i {
    padding: 0;
    font-size: 1.3em;
}
.rightBtn a i.icon-search {
    padding: 0;
    font-size: 1.2em;
}

/*footer*/

footer {
    position: relative;
    padding: 30px 3%;
    box-sizing: border-box;
}
footer figure {
    position: relative;
    width: 200px;
    margin: auto;
    padding-bottom: 15px;
}
footer figure img {
    width: 100%;
    height: auto;
}
footer p {
    position: relative;
    text-align: center;
    font-size: 0.95em;
    color: #ccc;
}
.backToTop {
    position: fixed;
    right: 10px;
    bottom: 30px;
    display: block;
    background-color: #666;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 0.95em;
    display: none;
}
.backToTop:hover {
    color: #fff;
    background-color: #f39838;
}

/*搜尋*/

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
.searchBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}
section.searchContent {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    width: 94%;
    max-width: 500px;
    margin: 100px auto 0 auto;
    padding: 30px 50px;
    box-sizing: border-box;
}
section.searchContent h2 {
    text-align: center;
    padding-bottom: 25px;
}
section.searchContent .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
section.searchContent .closeBtn i {
    padding: 0;
    font-size: 1.5em;
    color: #ccc;
    transition: ease 0.3s;
}
section.searchContent .closeBtn:hover i {
    color: #eb503c;
}
.searchList {
    position: relative;
    padding-bottom: 10px;
}
.searchBtn {
    position: relative;
    text-align: center;
}

/*主要框架*/

main {
    position: relative;
    padding-bottom: 100px;
}
section {
    position: relative;
    box-sizing: border-box;
}
section:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
section.content {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 100px 3%;
    box-sizing: border-box;
}
section.content h2 {
    font-size: 2em;
    font-weight: normal;
    padding-bottom: 40px;
    text-align: center;
}
section.content h2 span {
    font-size: 0.6em;
    font-weight: normal;
    color: #65bf97;
    padding: 0 0 0 10px;
}

/*----------首頁----------*/

.mainBanner {
    position: relative;
}
.mainBanner h1 {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 10%;
    margin-top: -100px;
    z-index: 10;
    font-size: 1.8em;
    text-shadow: #fff 0 0 30px;
}
.mainBanner h1 .wBig {
    font-size: 2.8em;
    line-height: 1.2em;
}
.mainBanner h1 .wSmall {
    font-size: 1.6em;
    letter-spacing: 0.5em;
    padding-left: 3px;
}
.mainBanner h1 .wRed {
    font-size: 1em;
    letter-spacing: 0.6em;
    line-height: 2.2em;
    color: #eb503c;
    font-weight: normal;
}
section.content.bgRed {
    background: #eb503c;
    padding: 50px 3%;
}
section.content h2.slogan {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: normal;
    padding: 0;
}

/*瀑布流*/

section.grid {
    position: relative;
}
.gridItem {
    width: 20%;
    background-color: #eee;
    box-sizing: border-box;
    border: #fff solid 1px;
}
.gridItem:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.gridItem figure {
    position: relative;
    overflow: hidden;
}
.gridItem figure img {
    width: 100%;
    height: auto;
}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    transition: ease 0.3s;
    opacity: 0;
}
.mask a {
    display: block;
    text-align: center;
    border: #fff solid 1px;
    color: #fff;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -60px;
}
.mask a:hover {
    border: #ec8e26 solid 1px;
    background-color: #ec8e26;
}
.gridItem:hover .mask {
    opacity: 1;
}
.storeInfo {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
.storeInfo h2 {
    padding: 0 0 10px 0;
    font-weight: normal;
}
.storeInfo h2 a {
    color: #000;
}
.gridItem:hover .storeInfo h2 a {
    color: #eb503c;
}
.star {
    position: relative;
    width: 50%;
    float: left;
    padding-bottom: 5px;
}
.star i {
    font-size: 1.2em;
    padding: 0 3px 0 0;
    color: #999;
}
.star i.on {
    color: #ec8e26;
}
.dist {
    position: relative;
    width: 48%;
    float: right;
    text-align: right;
    color: #666;
}
.dist i {
    color: #eb503c;
    vertical-align: middle;
}
.tagOrder {
    position: relative;
    clear: both;
    border-top: #ccc solid 1px;
    padding-top: 10px;
}
.tagOrder:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.tagOrder .tag {
    position: relative;
    width: 60%;
    float: left;
}
.tagOrder .tag span {
    display: inline-block;
    background-color: #eb503c;
    color: #fff;
    padding: 2px 10px;
    border-radius: 20px;
}
.tagOrder .orderCount {
    position: relative;
    width: 38%;
    float: right;
    text-align: right;
}
.tagOrder .orderCount span {
    display: inline-block;
    background-color: #999;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 0.9em;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    margin-left: 5px;
}

/*----------登入----------*/

.loginLogo {
    position: relative;
    width: 270px;
    left: auto;
    top: auto;
    margin: auto;
    padding: 80px 0 30px 0;
}
main.login {
    position: relative;
    width: 94%;
    max-width: 600px;
    margin: 0px auto 0 auto;
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 10px;
}
main.login h2 {
    text-align: center;
    padding-bottom: 20px;
}
main.login input,
main.login select,
main.login textarea
{
    background-color: #fff;
}
main.login input[type="submit"],
main.login input[type="reset"] {
    width: 48%;
    background-color: #333;
    border-radius: 10px;
}
main.login input[type="submit"]:hover,
main.login input[type="reset"]:hover {
    background-color: #ec8e26;
}
.loginList {
    position: relative;
    padding-bottom: 10px;
}
.loginBtn {
    position: relative;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    border-top: #ccc dotted 1px;
    clear: both;
}
.loginBtn p {
    padding-top: 10px;
}
.googleBtn {
    position: relative;
    padding-bottom: 20px;
    border-bottom: #ccc dotted 1px;
    margin-bottom: 20px;
}
.googleBtn a {
    display: block;
    background-color: #db4437;
    color: #fff;
    text-align: center;
    padding: 13px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
}
.googleBtn a:hover {
    background-color: #ec8e26;
}
.googleBtn i {
    vertical-align: text-top;
    font-size: 1.3em;
    padding: 0 10px 0 0;
}

/*----------購物車表單----------*/
.formBtn {
    position: relative;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
    border-top: #ccc dotted 1px;
    clear: both;
    text-align: center;
}
.formBtn a {
    display: inline-block;
    background-color: #eb503c;
    color: #fff;
    text-align: center;
    padding: 15px 30px;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 1.1em;
}
.formBtn a:hover {
    background-color: #ec8e26;
}
