#leftButtoms{
 /*  border:1px solid powderblue; */
  height: 30px;
}
#topName{
  text-align:center;
}
#leftMenu{
  /*width: 50%;*/
  /*float: left;*/
  /* font-size: 90%; */
}
#formHeading{
 /* border:1px solid powderblue; */
 margin-left: 40px;
 font-size:100%;
 font-weight: bold;
}
#insertButton{
  margin-left: 75%;
  /*border:1px solid powderblue;*/
}
