/*設定字體*/
#datePicker, .topTitle h2, body{
  font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
}
.topTitle{
	position: relative;
    background-color: #fff;
    text-align: center;
    padding: 20px 0% 0px 0%;
	/*border:1px solid powderblue;*/
}
.topTitle h2 {
    background-color: rgb(213, 141, 60);
    padding: 30px 3% 30px 3%;
    color: #fff;
    font-weight: bold;
}
/*logo*/
.logoArea{
  width: 20%;
  margin: 0 auto;
  padding-top: 34px;
}
#datePicker{
  border:1px solid red; 
  height: 50px;
}
#row12{
	border:1px solid red; 
}
#leftButtoms{
 /*  border:1px solid powderblue; */
  height: 30px;
}
#topName{
	text-align:center;
}
#leftOrderButtoms{
  list-style-type: none;
}
#leftOrderButtomGroup{
  display: block;
  text-align: center;
  width: 260px;
  float: left;
}
#leftMenu, #topBlock{
	font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
  /*width: 50%;*/
/*   float: left; */
/*   font-size: 90%; */
}
#formHeading{
 /* border:1px solid powderblue; */
 font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
 margin-left: 40px;
}
#orderStatusHeading{
 /* border:1px solid powderblue; */
 width:88px;
 height:26px;
 margin-left: 40px;
 font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
 font-weight: bolder;
 color:#ffffff;
 background-color:#383a3d;
}
#spanText{
  margin-left: 80%;
}
#pieChart{
  /*height: 50px;*/
  margin-left: 10%;
  /* border:1px solid powderblue; */
}
#middleForm{
font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
}
#orderTable{
 /*  border:1px solid powderblue; */
}
table{
  margin-left: 50px;
}
th{
  text-align: left;
  font-size: 100%;
  width: 200px;
  height: 40px;

}
td{
  font-size: 90%;
}
ul{
  font-size: 120%;
}