/*設定字體*/
ul, li, h2, h3, #middleForm, #leftMenu, #topBlock, #topName{
font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
}
/*profile照片大小*/
.col-md-3 img{
	width: 200px
}
/*logo*/
.logoArea{
    width: 20%;
    margin: 0 auto;
    padding-top: 34px;
}
.topTitle {

    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 20px 0% 0px 0%;
   
}
.topTitle h2 {
	font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
    background-color: rgb(213, 141, 60);
    padding: 30px 3% 30px 3%;
    color: #fff;
    font-weight: bold;
}
.col-md-9 h3{
	font-family: "Droid Sans", Arial, "微軟正黑體", "Microsoft JhengHei";
    margin: 40px;
    font-weight: bold;
}
th{
  text-align: left;
  font-size: 110%;
  width: 200px;
  height: 40px;

}
td{
  /*text-align: center;*/
  font-size: 110%;
}
ul, li{
  font-size: 108%;
}