<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GG</display-name>
  <welcome-file-list>
    <welcome-file>indexA.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>Log4jWebDemo1</display-name>
  <context-param>
    <param-name>log4jContextName</param-name>
    <param-value>myApplication</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>/WEB-INF/log4j2.xml</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <resource-ref>
    <description>JNDI DataSource </description>
    <res-ref-name>jdbc/Grab_n_Go</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>IdcheckServlet</display-name>
    <servlet-name>IdcheckServlet</servlet-name>
    <servlet-class>_01_Store_register.controller.IdcheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdcheckServlet</servlet-name>
    <url-pattern>/IdcheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheckServlet_01</display-name>
    <servlet-name>IdCheckServlet_01</servlet-name>
    <servlet-class>_01_Store_register.controller.IdCheckServlet_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheckServlet_01</servlet-name>
    <url-pattern>/IdCheckServlet_01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreRegister</display-name>
    <servlet-name>StoreRegister</servlet-name>
    <servlet-class>_01_Store_register.controller.StoreRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRegister</servlet-name>
    <url-pattern>/StoreRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>_02_login.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveLocationServlet</display-name>
    <servlet-name>SaveLocationServlet</servlet-name>
    <servlet-class>_02_login.controller.SaveLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveLocationServlet</servlet-name>
    <url-pattern>/SaveLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreUpdate</display-name>
    <servlet-name>StoreUpdate</servlet-name>
    <servlet-class>_02_Store_login.controller.StoreUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreUpdate</servlet-name>
    <url-pattern>/StoreUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadFoodType</display-name>
    <servlet-name>loadFoodType</servlet-name>
    <servlet-class>_01_Store_register.controller.loadFoodType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadFoodType</servlet-name>
    <url-pattern>/loadFoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewDish</display-name>
    <servlet-name>AddNewDish</servlet-name>
    <servlet-class>_03_Product.controller.AddNewDish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewDish</servlet-name>
    <url-pattern>/AddNewDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppStoreProfileServlet</display-name>
    <servlet-name>AppStoreProfileServlet</servlet-name>
    <servlet-class>_02_App_profile.controller.AppStoreProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddItemServlet</display-name>
    <servlet-name>AddItemServlet</servlet-name>
    <servlet-class>_04_shoppingCart.controller.AddItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemServlet</servlet-name>
    <url-pattern>/AddItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppRevenueDailyServlet</display-name>
    <servlet-name>AppRevenueDailyServlet</servlet-name>
    <servlet-class>_23_App_StoreOrderAnalysis.controller.AppRevenueDailyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AppIdCheckServlet</display-name>
    <servlet-name>AppIdCheckServlet</servlet-name>
    <servlet-class>_01_App_register.controller.AppIdCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RatingServlet</display-name>
    <servlet-name>RatingServlet</servlet-name>
    <servlet-class>_07_Rating.controller.RatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingServlet</servlet-name>
    <url-pattern>/RatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppStoreHistoryServlet</display-name>
    <servlet-name>AppStoreHistoryServlet</servlet-name>
    <servlet-class>_24_App_storeOrder.AppStoreHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>deletProductType</display-name>
    <servlet-name>deletProductType</servlet-name>
    <servlet-class>_03_Product.controller.deletProductType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletProductType</servlet-name>
    <url-pattern>/deletProductType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMainServlet</display-name>
    <servlet-name>SendMainServlet</servlet-name>
    <servlet-class>_08_mail.controller.SendMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMainServlet</servlet-name>
    <url-pattern>/SendMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppStoreOrderDailyServlet</display-name>
    <servlet-name>AppStoreOrderDailyServlet</servlet-name>
    <servlet-class>_24_App_storeOrder.AppStoreOrderDailyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SetReaded</display-name>
    <servlet-name>SetReaded</servlet-name>
    <servlet-class>_09_notification.controller.SetReaded</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetReaded</servlet-name>
    <url-pattern>/SetReaded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppStoreOrderChange</display-name>
    <servlet-name>AppStoreOrderChange</servlet-name>
    <servlet-class>_24_App_storeOrder.AppStoreOrderChange</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ValidateServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>_00_init.ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppStoreResendEmailServlet</display-name>
    <servlet-name>AppStoreResendEmailServlet</servlet-name>
    <servlet-class>_01_App_register.controller.AppStoreResendEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>_02_login.controller.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidatePW</display-name>
    <servlet-name>ValidatePW</servlet-name>
    <servlet-class>_02_login.controller.ValidatePW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidatePW</servlet-name>
    <url-pattern>/ValidatePW</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>_02_login.controller.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
</web-app>